<input type="text" name="" placeholder="Search for ......." ng-model="searchText">
<h3>Todo</h3>
<div ng-repeat="item in items | filter:{isCompleted:false} | filter: searchText">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-1">
        <input type="checkbox" name="" ng-model="item.isCompleted" ng-checked="item.isCompleted" ng-change="inputChange(item)"/>
      </div>
      <div class="col-xs-7"><a ng-href="#!/item/view/{{item.id}}">{{item.task}}</a></div>
      <div class="col-xs-1 col-xs-offset-2">{{item.assignedTo}}</div>
      <div class="col-xs-1">
        <button class="btn btn-danger fa fa-trash-o" ng-click="deleteItem(item.id)"></button>
      </div>
    </div>
  </div>
</div>
<h3>Completed</h3>
<div ng-repeat="item in items | filter:{isCompleted:true}">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-1">
        <input type="checkbox" name="" ng-model="item.isCompleted" ng-checked="item.isCompleted" ng-change="inputChange(item)"/>
      </div>
      <div class="col-xs-7"><a ng-href="#!/item/view/{{item.id}}">{{item.task}}</a></div>
      <div class="col-xs-1  col-xs-offset-2">{{item.assignedTo}}</div>
      <div class="col-xs-1">
        <button class="btn btn-danger fa fa-trash-o" ng-click="deleteItem(item.id)"></button>
      </div>
    </div>
  </div>
</div>
